In [29]:
import pandas as pd
path_file = "Base_datos.xlsx"
col_types = {"isbn":str,"isbn13":str}
hoja = "data"
df = pd.read_excel(path_file,sheet_name=hoja,dtype=col_types)

In [30]:
df.columns.values

array(['ID ', 'Nombre', 'Apellido_Mater', 'Apellido_pater', 'Edad',
       'Nacionalidad', 'Telefono ', 'Genero ', 'Unnamed: 8', 'Unnamed: 9'],
      dtype=object)

In [31]:
df

,ID,Nombre,Apellido_Mater,Apellido_pater,Edad,Nacionalidad,Telefono,Genero,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Cristian,Jorquera,Gonzalez,35.0,Chilena,988302735.0,Masculino,NaN,NaN
2,2.0,Guadalupe,Jorquera,Caicedo,1.0,Chilena,984579874.0,Femenina,NaN,NaN
3,3.0,Laura,Caicedo,Bonilla,32.0,Colombiana,98546321.0,Femenina,NaN,NaN
4,4.0,Jesus,Alvarez,Gonzalez,24.0,Venezolana,54879332.0,Masculino,NaN,NaN
5,5.0,Tamara,Villa,Gonzalez,25.0,Chilena,4586321.0,Femenina,NaN,NaN
6,6.0,Cristina,Gonzalez,Cornejo,55.0,Chilena,42566681.0,Femenina,NaN,NaN
7,7.0,Jonathan,Vergara,Cariqueo,34.0,Chilena,1234587.0,Masculino,NaN,NaN
8,8.0,Anibal,Carvajal,Salazar,34.0,Chilena,54896412.0,Masculino,NaN,NaN
9,9.0,Mauricio,Canales,Canales,36.0,Chilena,12365789.0,Masculino,NaN,NaN
10,10.0,Ana,Mendoza,Mendoca,34.0,Brasile単a,2369656.0,Femenina,NaN,NaN
11,11.0,Jenny,Cofre,Lara,21.0,Venezolana,12548799.0,Femenina,NaN,NaN
12,12.0,Harlys,Contreras,Parra,26.0,Venezolana,4589799.0,Femenina,NaN,NaN
13,13.0,Rosa,Gonzalez,Cornejos,55.0,Chilena,12032178.0,Femenina,NaN,NaN
14,14.0,Daniel,Jorquera,Diaz,5.0,Chileno,120336987.0,Masculino,NaN,NaN
15,15.0,Sebastian,Pi単era,Eche単ique,60.0,Chileno,7845955.0,Masculino,NaN,NaN

In [37]:
outfile = "descarga.xlsx"
writer = df.ExcelWriter()
writer.save()

AttributeError: 'DataFrame' object has no attribute 'ExcelWriter'

In [32]:
df.shape

(16, 10)